@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=Montserrat:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.division {
    clip-path: polygon(50% 0, 0 0, 0 100%, 25% 100%);
}

.nameTitle {
clip-path: polygon(0 100%, 1% 0, 100% 0, 100% 100%);
}

.scrollBar::-webkit-scrollbar, html::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 5px;
}

.scrollBar::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 2rem;
}

.scrollBar::-webkit-scrollbar-thumb, html::-webkit-scrollbar-thumb {
    background-color: #ec1c24;
    border-radius: 2rem;
}

html::-webkit-scrollbar-track {
    background-color: black;
    border-radius: 2rem;
}


input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
}

.rangeBar::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    margin-top: -8px;
    cursor: pointer;
    border: white solid 3px;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 2rem;
    background-color: black;
}

.rangeBar::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    background-color: red;
    height: 0.5rem;
    border-radius: 1rem;
}

